* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 30px;
}

.item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.kanban {
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 10;
    padding: 10px;
}

.coluna{
  
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: cadetblue;
    width: 200px;
    border-radius: 5px;
}

.dragging {
    opacity: 0.5;
}